name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v6
    - name: setup msbuild
      uses: microsoft/setup-msbuild@v2
    - name: build
      shell: cmd
      run: msbuild /t:Rebuild /p:WindowsTargetPlatformVersion=10.0.26100.0 /p:PlatformToolset=v143 /m /p:"Configuration=Release (MOD)" /p:Platform=Win32
    - name: build-x64
      shell: cmd
      run: msbuild /t:Rebuild /p:WindowsTargetPlatformVersion=10.0.26100.0 /p:PlatformToolset=v143 /m /p:"Configuration=Release (MOD)" /p:Platform=x64
    - name: copy
      shell: cmd
      run: cmake -E copy "bin\Win32\VSFilter\Release (MOD)\VSFilterMod.dll" dist\x86\VSFilterMod.dll && cmake -E copy "bin\x64\VSFilter\Release (MOD)\VSFilterMod.dll" dist\x64\VSFilterMod.dll 
    - name: upload
      uses: actions/upload-artifact@v6
      with:
        name: VSFilterMod_bin
        path: dist
